:root {
    --bg: black;
    --text: white;
    --accent: darkred;
}

footer {
    padding: 20px;
    font-family: Courier New, monospace;
}

.footer-buttons,
.signature,
.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text {
    font-weight: bold;
    color: var(--text);
}

.footer-buttons a {
    text-decoration: none;
    color: var(--text);
    font-size: 15px;
    margin: 15px;
    transition: color 0.3s ease;
}

.footer-buttons a:hover {
    color: gray;
}

.signature {
    color: lightgray;
    font-size: 10px;
}

.signature-link {
    text-decoration: none;
    color: var(--accent);
}

.signature-link:hover {
    color: var(--accent);
}
