:root {}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg) !important;
    display: flex;
    flex-direction: column;
}

header, .footer {
    flex-shrink: 0;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    box-sizing: border-box;
}

.video-container {
    width: calc(100vw - 200px);
    max-width: 800px;
    aspect-ratio: 16 / 9;
    background: var(--bg);
}

.video-container video {
    width: 100%;
    height: 100%;
    border: none;
}

.footer {
    opacity: 1;
}

@media (max-width: 768px) {
    .video-container {
        width: calc(100vw - 40px);
        max-width: none;
    }
    .container {
        padding-top: 80px;
    }
}

@media (max-width: 400px) {
    .video-container {
        width: 100vw;
    }
}
